<ul class="social-button">
    <li class="social-button__item social-button__item--twitter"><a href="http://twitter.com/share?url={{ page.url | prepend: site.url }}" target="_blank">ツイート</a></li>
    <li class="social-button__item social-button__item--facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}" target="_blank">シェア</a></li>
    <li class="social-button__item social-button__item--hatebu"><a href="http://b.hatena.ne.jp/entry/{{ site.url }}{{ page.url }}" target="_blank">はてブ</a></li>
</ul>

